$--colors: (
  'primary': (
    'base': #900680,
    // #409eff,
  ),
  'success': (
    'base': #67c23a,
    // #67c23a
  ),
  'warning': (
    'base': #e6a23c,
    // #e6a23c,
  ),
  'danger': (
    'base': #f56c6c,
    // #f56c6c
  ),
  'error': (
    'base': #f56c6c,
    // f56c6c
  ),
  'info': (
    'base': #909399,
    // 909399
  ),
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $--colors,
  $date-editor: (
    'daterange-width': 260px,
  )
);
